# Dependencies
node_modules/
**/node_modules/

# Env files
.env
**/.env

# Build output
dist/
build/
**/dist/
**/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
